@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: black;
color: white;
}
.container{
width: 90%;
margin: 0 auto;
}
@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}
.animate-ping {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}